
body {
    margin: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    padding: 8px 10px;
    transition: 7s ease-in-out;
    border-radius: 12px;
}

.btn-daftar {
    background-color: blue;
    border: 1px solid blue;
    color: white;
}

.btn-daftar:hover {
    box-shadow: 0px 5px 10px 15px #333;
    background-color: white;
}

.btn-login {
    background-color: transparent;
    border: 2px solid blue;
}

.btn-login:hover {
    background-color: white;
}