#Header {
    background: beige ;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}

#Sidebar {
    background: bisque ;
    float: left;
    height: 400px;
    width: 30%;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}

#Content {
    background: blue;
    float: right;
    height: 400px;
    width: 70%;
    padding-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

#Footer {
    background: blueviolet ;
    clear: both;
    text-align: center;
    font: 1.5em;
    padding-top: 5px;
}