html, body {
    padding: 0;
    margin: 0;
    background-color: #ddd;
}

.container {
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr minmax(100px 200px) 1fr;
}

.item {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even){
    background-color: palevioletred;
}